#header-section{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;  
}
#header-section div{
margin: 20px 243px 0 45px;
font-size: 24px
}
#header-section div a{
    text-decoration: none;
    color: black;
    }