/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import "/css/cssreset.css";
@import "/css/header-section.css";
@import "/css/landing-page/top-section.css";
@import "/css/landing-page/projects.css";
@import "/css/landing-page/slider-section.css";
@import "/css/landing-page/skills-section.css";
@import "/css/landing-page/testimonial.css";
@import "/css/landing-page/work-with.css";
@import "/css/landing-page/companies-worked-with.css";
@import "footer-section.css"; */



body  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: 14px; 
}

#container {
    max-width: 1400px;
    margin: 0 auto;
}

.line{ 
    max-width:690px;
    height:1px; 
    background: black;
    margin: 0 auto ;
}


/* for git hub */

/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    box-sizing: border-box;
  }
  
  
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  /* ************************START HERE************************************ */


  /*  HEader SECTION*/

  #header-section{
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;  
}
#header-section div{
font-size: 14px
}
#header-section div a{
    text-decoration: none;
    color: black;
    }


/* TOP SECTION */
#top-section{
    height: 100vh;
    margin: 100px 0 200px;
    display: flex;
}
#top-section .left-side{
    width: 50%;
    padding: 208px 0 0;
}

#top-section .left-side h1{
    margin: 10px 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
    font-size: 50px;
}

#top-section .left-side h2{
    max-width: 460px;;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    font-size: 24px;
    line-height: 2em;
   
}
#top-section .left-side a{
    text-decoration: none;
    /* border: black 2px solid; */
}

#top-section .left-side div p{
    margin: 12px 0 0;
    padding: 10px;
    text-align: center;
    border: black 2px solid;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}


#top-section .img-div{
    width: 70%;
    height: auto;
    max-width: 690;
    max-height: 700;
    background-image: url('https://www.JuniorTavarez.com/wp-content/uploads/2019/09/main-dude.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}





/* PROJECTS */

#projects-section{
    margin: 0px 0 200px ; 
    }
    #projects-section h1{
        display:flex;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700; 
        font-size: 40px;
        margin: 0 0 100px 
    }
    #projects-section .projects-container{
     max-width: 1400px;
     max-height: 330px;
     display: flex;
     flex-wrap: nowrap;
    margin: 20px 0px 0px 0px;
    }
    /* Section 1 */
    #projects-section .image-side{
    width: 100%;
    max-width: 700px;
    /* height: auto;   */
    background-image: url('https://www.JuniorTavarez.com/wp-content/uploads/2019/09/fake-web.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
    /* info Side */
    #projects-section .info-side{
        max-width: 700px;
        /* border: black 1px solid; */
        max-height: 330;  
        padding: 58px 40px 40px 60px ;   
       }
       #projects-section .info-side .project-info h3{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700; 
        font-size: 24px;
       }
       #projects-section .info-side  .project-language{
        display: flex;
        margin: 10px 0 0 423px;
        position: absolute; 
        padding: 0 0 10px 0;
       }
       #projects-section .info-side .project-language p{
        /* margin: 0px 0 0 8px; */
        border: black solid .5px;
        padding: 8px;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400; 
        font-size: 10px;
       }
    
      #projects-section .info-side h4{
        padding: 0 0 0px;
        margin: 4px 0px 35px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; 
        font-size: 18px;
      }
      #projects-section .info-side .main-paragraph{
        margin: 10px 0 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; 
        font-size: 14px;
        line-height: 24px;
        max-width: 590px;
      }
      #projects-section .info-side .bottom{
        display: flex;
        justify-content: space-between;    
        margin-top: 37px;
      }
      #projects-section .info-side .bottom .icons{
        display: flex;
        align-items: center;
        
      }
      #projects-section .info-side .bottom .icons p{
        margin: 0 30px 0 0;
        font-size: 16px;
      }
      #projects-section .info-side .bottom .contact{
        border: black 2px solid;
        margin: 0 10px 0 0;
        padding: 10px 30px;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400; 
        font-size: 16px;
      }

/* SLIDER SECTION */
#slider-section{
    margin: 100px 0 100px;
}
#slider-section h1{
    text-align: left;
    font-size: 24px;
    max-width: 600px;
    font-weight: 700;
    margin: 0 auto;
}
#slider-section .slider-mid{
    display: flex;
    justify-content: space-around;
    margin: 12px auto 0;
    max-width: 1025px
}
#slider-section .slider-mid .left{
    font-size: 36px;
}

#slider-section .slider-mid h2{
    text-align: left;
    font-size: 14px;
    font-weight: 300px;
    max-width: 600px;
    line-height: 30px;
    
}

#slider-section .slider-mid .right{
      font-size: 36px;
}

#slider-section .icons{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0px;
}


#slider-section .icons p{
    margin: 0 18px 0 0;
    border: 2px black solid;
    border-radius: 17%;
    height: 20px;
    width: 20px;
    transform: rotate(45deg)
}




/* SKILLS SECTION */
#skills-section{
    margin: 200px 0 0px;
}

#skills-section h1{
font-size: 52px;
text-align: center;
}
#skills-section h2{
margin: 0px auto 100px;
text-align: center;
font-size: 24px;
max-width: 670px;
line-height: 35px;
}
#skills-section .top {
    display:flex;
    justify-content: space-between;
    margin: 0 auto 70px; 
    max-width: 1250px;
}
#skills-section .top .skills{
margin: 0 0px;
max-width: 350px;
}

#skills-section .top .skills h3{
font-size: 40px;
line-height: 50px;
}

#skills-section .top .skills p{
margin: 17px 0 0;
font-size: 14px;
font-weight: 300;
text-align: justify;
line-height: 24px
}
#skills-section .top2 {
    display:flex;
    justify-content: space-between;
    margin: 0 auto; 
    max-width: 1250px;
}
#skills-section .top2 .skills{
margin: 0 0px;
max-width: 350px;
}

#skills-section .top2 .skills h3{
font-size: 40px;
line-height: 50px;
}

#skills-section .top2 .skills p{
margin: 17px 0 0;
font-size: 14px;
font-weight: 300;
text-align: justify;
line-height: 24px
}


/* TESTIMONIAL */

#testimonials{
    margin: 200px auto 0px;
}

#testimonials h1{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

#testimonials h2{
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    max-width: 650px;
    margin: 10px auto 0px ;
}

#testimonials .slider-mid {
margin: 35px auto 0;
display: flex;
justify-content: space-between;
max-width: 1250px
}

#testimonials .slider-mid .paragraph{
    max-width: 975px;
    text-align: center;
    line-height: 24px;
    font-size: 13.5px;
    font-weight: 300px;
}

#testimonials .slider-mid .left{
    margin: 40px 0 0 0px;
    font-size: 32px
}

#testimonials .slider-mid .right{
    margin: 40px 0 0 0;
    font-size: 32px;
}

#testimonials .customer-info{
margin: 43px 0 0 ;
display: flex;
justify-content: center;
}

#testimonials .customer-info .img{
margin: 0 10px 0 0;
border-radius: 50%;
padding: 50px;
background-image: url('https://www.JuniorTavarez.com/wp-content/uploads/2019/09/smiling-guy.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

#testimonials .customer-info .content{
margin: 30px 0 0;
} 

#testimonials .customer-info .paragraph{
margin: 0 0 13px;
}

#testimonials .icons{
    display: flex;
    justify-content: center;
    margin: 35px 0 0 0;
}

#testimonials .icons p{
    margin: 0 18px 0 0;
    border: 2px black solid;
    border-radius: 17%;
    max-height: 20px;
    max-width: 20px;
    transform: rotate(45deg)
}


/* WORK WITH*/
#work-with{
    margin: 200px 0 0;
}

#work-with h1{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

#work-with .container {
    margin: 100px auto 0; 
}
#work-with .img{
    display: flex;
    justify-content: space-between;
}
#work-with .img div{
    background: black;
    padding: 108px 185px;
    margin: 0px auto 0;
    background-image: url('https://www.JuniorTavarez.com/wp-content/uploads/2019/09/group-table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 25%
}

#work-with .h2 {
    margin: 50px 0;
    font-size: 40px;
    display: flex;
    justify-content: space-between;

}

#work-with .h2 h2{
    margin: 0 auto;
    
}

#work-with .content {
    display: flex;
    justify-content: space-between;
}

#work-with .content p{
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    max-width: 350px;
    text-align: justify;
    line-height: 24px;
}

/* COMPANIES WORKED WITH */
#companies-worked-with{
    margin: 100px auto 0;
}

#companies-worked-with h1{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}
#companies-worked-with .img{
    display: flex;
    justify-content: space-evenly;
    max-width: 870px;
    margin: 75px auto 0;

}

#companies-worked-with .img a p{
    border-radius: 50%;
    padding: 50px;
    background-image: url('https://www.JuniorTavarez.com/wp-content/uploads/2019/09/smiling-girl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    }

/* FOOTER */

#footer-section{
    margin: 80px auto 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

#footer-section .logo{
    font-size: 14px;
}
#footer-section .logo a{
    text-decoration: none;
    color: black;
}


#footer-section .icons{
display: flex;
justify-content: space-between;
}

#footer-section .icons a{
   margin: 0 40px 0 0;
   color: black;
    }

#footer-section .icons a p{
    font-size: 20px;
        }

#footer-section .arrow a{
    text-decoration: none;
    
}
#footer-section .arrow a p{
    font-size: 18px;

}


/******************************* RESPONSIVE ******************************/
@media screen and (max-width: 1450px) and (min-width: 600px) {
      
    #container {
        max-width: 900px;
    }
    
    .line{ 
        max-width:690px;
    }
    
     /*  HEader SECTION*/

  #header-section{
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;  
}
#header-section div{
font-size: 14px
}
#header-section div a{
    text-decoration: none;
    color: black;
    }


/* TOP SECTION */
#top-section{
    height: 100vh;
    margin: 50px 0 100px;
    display: flex;
}
#top-section .left-side{
    width: 50%;
    padding: 230px 0 0;
}

#top-section .left-side h1{
    margin: 0 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
    font-size: 42px;
}

#top-section .left-side h2{
    max-width: 460px;;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    font-size: 18px;
    line-height: 2em;
   
}
#top-section .left-side a{
    text-decoration: none;

}

#top-section .left-side div p{
    margin: 12px 0 0;
    padding: 10px;
    text-align: center;
    border: black 2px solid;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}


#top-section .img-div{
    width: 70%;
    height: auto;
    max-width: 690px;
    max-height: 700px;
    background-image: url('https://www.JuniorTavarez.com/wp-content/uploads/2019/09/main-dude.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}





/* PROJECTS */

#projects-section{
    margin: 0px 0 200px ; 
    }
    #projects-section h1{
        display:flex;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700; 
        font-size: 40px;
        margin: 0 0 100px 
    }
    #projects-section .projects-container{
    max-width: 900px;
    max-height: 330px;
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0px 0px 0px;
    }
    /* Section 1 */
    #projects-section .image-side{
    width: 100%;
    max-width: 450px;
    /* height: auto;   */
    background-image: url('https://www.JuniorTavarez.com/wp-content/uploads/2019/09/fake-web.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
    /* info Side */
    #projects-section .info-side{
        max-width: 450px;
        /* border: black 1px solid; */
        max-height: 330;  
        padding: 29px 20px 20px 30px ;   
       }
       #projects-section .info-side .project-info h3{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700; 
        font-size: 24px;
       }
       #projects-section .info-side  .project-language{
        display: flex;
        margin: 10px 0 0 423px;
        position: absolute; 
        padding: 0 0 10px 0;
       }
       #projects-section .info-side .project-language p{
        /* margin: 0px 0 0 8px; */
        border: black solid .5px;
        padding: 8px;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400; 
        font-size: 10px;
       }
    
      #projects-section .info-side h4{
        padding: 0 0 0px;
        margin: 4px 0px 35px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; 
        font-size: 18px;
      }
      #projects-section .info-side .main-paragraph{
        margin: 10px 0 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300; 
        font-size: 14px;
        line-height: 24px;
        max-width: 590px;
      }
      #projects-section .info-side .bottom{
        display: flex;
        justify-content: space-between;    
        margin-top: 37px;
      }
      #projects-section .info-side .bottom .icons{
        display: flex;
        align-items: center;
        
      }
      #projects-section .info-side .bottom .icons p{
        margin: 0 30px 0 0;
        font-size: 16px;
      }
      #projects-section .info-side .bottom .contact{
        border: black 2px solid;
        margin: 0 10px 0 0;
        padding: 10px 30px;
        border-radius: 3px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400; 
        font-size: 16px;
      }

/* SLIDER SECTION */
#slider-section{
    margin: 100px 0 100px;
}
#slider-section h1{
    text-align: left;
    font-size: 24px;
    max-width: 600px;
    font-weight: 700;
    margin: 0 auto;
}
#slider-section .slider-mid{
    display: flex;
    justify-content: space-around;
    margin: 12px auto 0;
    max-width: 1025px
}
#slider-section .slider-mid .left{
    font-size: 36px;
}

#slider-section .slider-mid h2{
    text-align: left;
    font-size: 14px;
    font-weight: 300px;
    max-width: 600px;
    line-height: 30px;
    
}

#slider-section .slider-mid .right{
      font-size: 36px;
}

#slider-section .icons{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0px;
}


#slider-section .icons p{
    margin: 0 18px 0 0;
    border: 2px black solid;
    border-radius: 17%;
    height: 20px;
    width: 20px;
    transform: rotate(45deg)
}




/* SKILLS SECTION */
#skills-section{
    margin: 200px 0 0px;
}

#skills-section h1{
font-size: 52px;
text-align: center;
}
#skills-section h2{
margin: 0px auto 100px;
text-align: center;
font-size: 24px;
max-width: 670px;
line-height: 35px;
}
#skills-section .top {
    display:flex;
    justify-content: space-between;
    margin: 0 auto 70px; 
    max-width: 1250px;
}
#skills-section .top .skills{
margin: 0 0px;
max-width: 350px;
}

#skills-section .top .skills h3{
font-size: 40px;
line-height: 50px;
}

#skills-section .top .skills p{
margin: 17px 0 0;
font-size: 14px;
font-weight: 300;
text-align: justify;
line-height: 24px
}
#skills-section .top2 {
    display:flex;
    justify-content: space-between;
    margin: 0 auto; 
    max-width: 1250px;
}
#skills-section .top2 .skills{
margin: 0 0px;
max-width: 350px;
}

#skills-section .top2 .skills h3{
font-size: 40px;
line-height: 50px;
}

#skills-section .top2 .skills p{
margin: 17px 0 0;
font-size: 14px;
font-weight: 300;
text-align: justify;
line-height: 24px
}


/* TESTIMONIAL */

#testimonials{
    margin: 200px auto 0px;
}

#testimonials h1{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

#testimonials h2{
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    max-width: 650px;
    margin: 10px auto 0px ;
}

#testimonials .slider-mid {
margin: 35px auto 0;
display: flex;
justify-content: space-between;
max-width: 1250px
}

#testimonials .slider-mid .paragraph{
    max-width: 975px;
    text-align: center;
    line-height: 24px;
    font-size: 13.5px;
    font-weight: 300px;
}

#testimonials .slider-mid .left{
    margin: 40px 0 0 0px;
    font-size: 32px
}

#testimonials .slider-mid .right{
    margin: 40px 0 0 0;
    font-size: 32px;
}

#testimonials .customer-info{
margin: 43px 0 0 ;
display: flex;
justify-content: center;
}

#testimonials .customer-info .img{
margin: 0 10px 0 0;
border-radius: 50%;
padding: 50px;
background-image: url('https://www.JuniorTavarez.com/wp-content/uploads/2019/09/smiling-guy.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}

#testimonials .customer-info .content{
margin: 30px 0 0;
} 

#testimonials .customer-info .paragraph{
margin: 0 0 13px;
}

#testimonials .icons{
    display: flex;
    justify-content: center;
    margin: 35px 0 0 0;
}

#testimonials .icons p{
    margin: 0 18px 0 0;
    border: 2px black solid;
    border-radius: 17%;
    max-height: 20px;
    max-width: 20px;
    transform: rotate(45deg)
}


/* WORK WITH*/
#work-with{
    margin: 200px 0 0;
}

#work-with h1{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

#work-with .container {
    margin: 100px auto 0; 
}
#work-with .img{
    display: flex;
    justify-content: space-between;
}
#work-with .img div{
    background: black;
    padding: 108px 185px;
    margin: 0px auto 0;
    background-image: url('https://www.JuniorTavarez.com/wp-content/uploads/2019/09/group-table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 25%
}

#work-with .h2 {
    margin: 50px 0;
    font-size: 40px;
    display: flex;
    justify-content: space-between;

}

#work-with .h2 h2{
    margin: 0 auto;
    
}

#work-with .content {
    display: flex;
    justify-content: space-between;
}

#work-with .content p{
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    max-width: 350px;
    text-align: justify;
    line-height: 24px;
}

/* COMPANIES WORKED WITH */
#companies-worked-with{
    margin: 100px auto 0;
}

#companies-worked-with h1{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}
#companies-worked-with .img{
    display: flex;
    justify-content: space-evenly;
    max-width: 870px;
    margin: 75px auto 0;

}

#companies-worked-with .img a p{
    border-radius: 50%;
    padding: 50px;
    background-image: url('https://www.JuniorTavarez.com/wp-content/uploads/2019/09/smiling-girl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    }

/* FOOTER */

#footer-section{
    margin: 80px auto 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

#footer-section .logo{
    font-size: 14px;
}
#footer-section .logo a{
    text-decoration: none;
    color: black;
}


#footer-section .icons{
display: flex;
justify-content: space-between;
}

#footer-section .icons a{
   margin: 0 40px 0 0;
   color: black;
    }

#footer-section .icons a p{
    font-size: 20px;
        }

#footer-section .arrow {


}
#footer-section .arrow a{
    text-decoration: none;
    
}
#footer-section .arrow a p{
    font-size: 18px;

}
  }