@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import "cssreset.css";
@import "header-section.css";
@import "landing-page/top-section.css";
@import "landing-page/projects.css";
@import "landing-page/slider-section.css";
@import "landing-page/skills-section.css";

@import "footer-section.css";


@import "templates/page.css";

@import "landing-page/experience-section.css";
@import "landing-page/blog-section.css";
@import "landing-page/testimonials-section.css";
@import "portfolio/portfolio-projects.css";



body  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: 14px; 
}

#container {
    max-width: 1400px;
    margin: 0 auto;
}

.line{ 
    width:35vw;
    height:1px; 
    background: black;
    margin: 0 auto ;
}