#top-section{
    height: 100vh;
    margin: 100px 0 0;
    display: flex;
    
}



#top-section .left-side{
    width: 50%;
    /* margin: 220px 0 0; */
    padding: 220px 0 0;
   
}

#top-section .left-side h1{
    margin: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
    font-size: 4vw;
}

#top-section .left-side h2{
    max-width: 460px;;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    font-size: 1.3vw;
    line-height: 45px;
   
}
#top-section .left-side a{
    text-decoration: none;
}

#top-section .left-side a p{
    margin: 20px 0 0;
    padding: 10px 0 0;
    width: 160px;
    height: 40px;
    text-align: center;
    border: black 2px solid;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: .8vw;
    
}














#top-section .img-div{
    width: 690px;
    height: 790px;
    background-image: url('/images/adult-1868750_1920.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
