#top-section{
    height: 100vh;
    margin: 92px 0 0;
    display: flex;
    /* border: solid 2px black; */
}
#top-section .left-side{
    width: 50%;
    padding: 208px 0 0;
   margin: 0 0 0 141px;
}

#top-section .left-side h1{
    margin: 10px 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700; 
    font-size: 2.0vw;
}

#top-section .left-side h2{
    max-width: 460px;;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; 
    font-size: 1.22vw;
    line-height: 50px;
   
}
#top-section .left-side a{
    text-decoration: none;
}

#top-section .left-side a p{
    margin: 24px 0 0;
    padding: 10px 0;
    width: 120px;
    height: 40px;
    text-align: center;
    border: black 2px solid;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    font-size: .7vw;
    text-transform: uppercase;
    
}


#top-section .right-side{
    width: 690px;
    height: 790px;
}


#top-section .img-div{
    width: 690px;
    height: 790px;
    background-image: url('/images/adult-1868750_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
